body {
    background-image: url(image.png);
    background-size: cover;
    height: 100vh;
    background-position: center;
    overflow: hidden;
    }

    article {
        width: 350px;
        height: 250px;
        background-color: lightblue;
        margin: auto;
        margin-top: 350px;
        border: 10px;
        border-color: blue;
        border-radius: 50px;
        border-style: double;
        text-align: center;
        font-size: 50px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-shadow: 2px 1px 10px rgb(48, 48, 204);    
    }


    button {
    width:150px;
    height: 100px;
    text-align: center;
    font-size: 50px;
    background-color: darkcyan;
    font-style: italic;
    border: 10px;
    border: lightblue;
    border-radius: 10px;
    border-style: ridge;
    cursor: pointer;
    text-shadow: 2px 2px rgb(5, 5, 134)
}

.name {
    width: 400px;
    height: 200px;
   background-color: lightblue;
   text-align: center;
   font-size: 40px;
   margin-right: auto;
   margin-top: 100px;
   border: 10px;
   border-radius: 10px;
   border-style: inset;
   border-color: blue;
    color: rgb(34, 59, 92);
}